@use 'variables';

@mixin box-item {
    position: relative;
    background-color: variables.$background-Boxes;
    border: 1px solid variables.$border-Boxes;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}
@mixin pagetitle {
    font-size: 24px;
    font-weight: 500;
    span {
        color: #FBB214;
    }
    @media (max-width: 550px) {
        font-size: 18px;
    }
}

@mixin title {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    @media (max-width: 550px) {
        margin-bottom: 10px;
    }
}

@mixin contents {
    text-align: center;
    font-weight: normal;
}

@mixin disconnect {
    background-color: #c81a1a83;
    border: 0;
    border-radius: 4px;
    padding: 4px 12px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    &:hover {
        background-color: #ec0909;
        transform: scale(1.05);
    }
}

@mixin scrollbar{
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px !important;
    }

    &::-webkit-scrollbar-thumb {
        background: variables.$primary-color;
        border-radius: 10px 10px ;
    }
}

@mixin helpBtn {
    position: absolute;
    right: 5%;
    top: 5%;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    background: none;
    border:0;
    color: #666;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        color: #fff;
    }
}

@mixin helper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding: 20px;
    letter-spacing: -0.5px;
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);
    word-break: keep-all;  /*단어 중간에 짤리지않게 */
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    cursor: pointer;
    &::before {
        content: "?";
        width: 20px;
        height: 20px;
        border: 2px solid rgba(255,255,255,0.9);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 10px;

    }
}