@use 'variables';

@mixin box-item {
    background-color: variables.$background-Boxes;
    border: 1px solid variables.$border-Boxes;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

@mixin title {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

@mixin contents {
    text-align: center;
    font-weight: normal;
}