@use 'variables';

@mixin box-item {
    position: relative;
    background-color: variables.$background-Boxes;
    border: 1px solid variables.$border-Boxes;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

@mixin title {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

@mixin contents {
    text-align: center;
    font-weight: normal;
}

@mixin disconnect {
    background-color: #c81a1a83;
    border: 0;
    border-radius: 4px;
    padding: 4px 12px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    &:hover {
        background-color: #ec0909;
        transform: scale(1.05);
    }
}

@mixin scrollbar{
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px !important;
    }

    &::-webkit-scrollbar-thumb {
        background: variables.$primary-color;
        border-radius: 10px 10px ;
    }

}