$colors: (
  "kkms": #0c9b5d,
  "peter": #135E93,
  "lauren": #e33535,
  "JUH": #1a9aae,
  "SHJ": #da7421
);

// const colorValues = ["#0c9b5d", "#135E93", "#e33535", "#1a9aae", "#da7421"]; // 서버별 색상

$background-Dashboard: #010101;
$background-Navbar: #001D31;
$background-Boxes: #001D31;
$background-Header: #011625;
$border-Boxes: #36434E;

$font-color: #fff;
$font-color-default: rgba(255,255,255,0.3);


$primary-color: #9747FF;
$all-total-color: #F14343;

