$background-Dashboard: #010101;
$background-Navbar: #001D31;
$background-Boxes: #001D31;
$background-Header: #011625;
$border-Boxes: #36434E;

$font-color: #fff;
$font-color-default: rgba(255,255,255,0.3);


$primary-color: #9747FF;

.light {
    $background-Dashboard: #fff;
    $background-Navbar: blue;
    $background-Boxes: blue;
    $background-Header: darkblue;
    $border-Boxes: #aaa;

    $font-color: #ccc;
    $font-color-default: rgba(0,0,0,0.5);


    $primary-color: #9747FF;
}