@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    flex: 1;
    display: flex;
    text-align: center;
    gap: 20px;
    h2 {
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .memory {
        flex: 1;
    }
    .cpu {
        flex: 1;
    }
    .disk {
        flex: 1;
    }
    .data {
        position: relative;
        z-index: 1000;
        top: 50%;
        left: 1%;
        font-weight: bold;
    }
}