@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    padding: 0;
    @media (max-width: 1600px) {
    }
    [class*=table]{
        display: grid;
        grid-template-columns: 
            12%
            12%
            15%
            1fr
            15%
            15%
        ;
        @media(max-width: 650px){
            grid-template-columns: 1fr 1.5fr 1fr 1fr;
        }
    }
    .tableHeader {
        background-color: variables.$background-Header;
        border-bottom: 1px solid variables.$border-Boxes;
        text-align: center;
        div {
            flex: 1;
            padding: 15px 0;
            
            &+div {
                border-left: 1px solid variables.$border-Boxes;
            }
            @media(max-width: 650px){
                &:nth-child(2),
                &:nth-child(4) {
                    display: none;
                }
                font-size: 12px;
            }
        } 
    }
    .tableBody {
        div {
            flex: 1;
            border-bottom: 1px solid variables.$border-Boxes;
            font-size: 14px;
            padding: 10px 0 ;
            color: rgba(255,255,255,0.6);
            text-align: center;
            &+div {
                border-left: 1px solid variables.$border-Boxes;
            }
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 650px){
                &:nth-child(2),
                &:nth-child(4){
                    display: none;
                }
            }
            .disconnectbtn {
               @include mixin.disconnect; 
            }
        }
    }
    
}
.popup {
    align-items:center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 45px;
    background-color: #010101;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid variables.$border-Boxes;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.popupBtn {
    width: 200px;
    display:flex;
    justify-content: space-around;
}