@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    width: 400px;
    @media (max-width: 650px) {
        grid-column: 1 / span 2;
    }
    @media (max-width: 1500px) {
        width: 100%;
    }
    .title {
        @include mixin.title;
        & {  /*yoon: 오류발생으로 명시적 선언합니다*/
            text-align: left;
        }
    }

    .helpBtn {
        @include mixin.helpBtn; 

    }
    .helper {
        @include mixin.helper;
        z-index:1500;
    }
}