@use 'variables';
@use 'mixin';
.packetbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1600px) {
        flex-direction: row;
    }
    .body {
        @include mixin.box-item;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .title {
            @include mixin.title;
            text-align: left;
            margin-bottom: 10px;
        }
        p {
            flex: 1;
            background-color: #222;   
        }
    }
}
