@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;

    .helpBtn {
        @include mixin.helpBtn; 

    }
    .helper {
        @include mixin.helper;
        z-index:1500;
    }

    @media (max-width: 1500px) {
        grid-column:  1 / span 2;
        height: 200px;
        order: 3;
    }
    @media (max-width: 650px) {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .title {
        margin-bottom: 0px;
        margin-top: 5px;
        @include mixin.title;
    }
    .memory {
        position: relative;
        width: 33%;
        @media (max-width: 650px) {
            width: 60%;
            height: 170px;
        }
    }
    .cpu {
        position: relative;
        width: 33%;
        @media (max-width: 650px) {
            width: 60%;
            height: 170px;
        }
    }
    .disk {
        position: relative;
        width: 33%;
        @media (max-width: 650px) {
            width: 60%;
            height: 170px;
        }
    }
    .data {
        position: absolute;
        z-index: 1000;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 650px) {
            bottom: 25px;
        }
        
    }
    svg {
        margin-top: 17px;
    }
}