@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    p {
        flex: 1;
        background-color: #222;
        
    }
}