@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    padding: 0;
    @media (max-width: 1600px) {
    }
    [class*=table]{
        display: grid;
        grid-template-columns: 
            12%
            12%
            15%
            1fr
            15%
            15%
        ;
        @media(max-width: 650px){
            grid-template-columns: 1fr 1.5fr 1fr 1fr;
        }
    }
    .tableHeader {
        background-color: variables.$background-Header;
        border-bottom: 1px solid variables.$border-Boxes;
        text-align: center;
        div {
            flex: 1;
            padding: 15px 0;
            
            &+div {
                border-left: 1px solid variables.$border-Boxes;
            }
            @media(max-width: 650px){
                &:nth-child(2),
                &:nth-child(4) {
                    display: none;
                }
                font-size: 12px;
            }
        } 
    }
    .tableBody {
        div:not(.popup) {
            flex: 1;
            border-bottom: 1px solid variables.$border-Boxes;
            font-size: 14px;
            padding: 10px 0 ;
            color: rgba(255,255,255,0.6);
            text-align: center;
            &+div:not(.popup) {
                border-left: 1px solid variables.$border-Boxes;
            }
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 650px){
                &:nth-child(2),
                &:nth-child(4){
                    display: none;
                }
            }
            .disconnectbtn {
               @include mixin.disconnect; 
            }
        }
    }
    
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60,60,60,0.9);
    z-index: 15000;
}
.popup {
    align-items:center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border-radius: 6px;
    padding:  45px 50px 30px;
    border: 1px solid #666;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    box-sizing: border-box;
    text-align: left;
    color: rgba(255,255,255,0.7);
    font-size: 19px;
    span {
        color: #fff;
        font-weight: 500;
    }
    div.close {
        position: absolute;
        right: 10px;
        top: 10px;
        border: 0 !important;
        font-size: 20px !important;
        padding: 0 !important;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
    div.alert {
        position: absolute;
        left: 50%;
        top: -30px;
        border: 0 !important;
        padding: 0 !important;
        font-size: 50px !important;
        transform: translateX(-50%);
        color: #FF6060 !important;
        animation: scale_ani 0.5s alternate infinite;
    }
    @keyframes scale_ani {
        100% {
            transform: translateX(-50%) scale(1.1);
        }
    }
}
.popupBtn {
    display:flex;
    justify-content: center;
    gap: 20px;
    border: 0 !important;
    margin-top: 15px;
    button {
        padding: 9px 0px;
        flex-grow: 1;
        border-radius: 5px;
        border: 0;
        font-size: 15px;
        color: #fff;
        cursor: pointer;
        transition: 0.2s;
        &:first-child {
            background-color: #222;
        }
        &:first-child:hover {
            background-color: #313137;
        }
        &:last-child {
            background-color: #FF6060a0;
        }
        &:last-child:hover {
            background-color: #E43C3C;
        }
    }
}