@use 'variables';
@use 'mixin';

.portsbody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 1600px) {
        flex-direction: row;
    }
    @media(max-width: 650px){
        flex-direction: column;
    }
    .body {
        @include mixin.box-item;
        //flex: 1;
        &:first-of-type {
            padding-right: 5px;
             
        }
        @media (max-width: 1600px) {
            &:last-of-type {
                flex: 1;
                height: 300px;
            }
        }
        .title {
            @include mixin.title;
            margin-bottom: 10px;
            text-align: left;
        }
        svg {
            display: block;
            margin: 20px auto;
        }
        .list {
            height: 230px;
            overflow: scroll;
            padding-right: 10px;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid variables.$border-Boxes;
                padding: 5px 0;
                text-align: left;
                font-size: 14px;
                .status {
                    width: 30px;
                }
                .ip {
                    flex: 1;
                }
                .protocol {
                    width: 50px;
                }
                .button {
                    width: 60px;
                }
                button {float: right;}
                .circle {
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background-color: rgb(119, 255, 98);
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

}

.popup {
    align-items:center;
    flex-direction: column;
    justify-content: center;
    width: 275px;
    height: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: 100px -137.5px;
    gap: 45px;
    background-color: #010101;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
}
.popupBtn {
    width: 200px;
    display:flex;
    justify-content: space-around;
}