@use 'variables';
@use 'mixin';
.dashboard {
    padding-left: 100px;
    flex: 1;
    @media (max-width: 950px) {
        padding-left: 0;
        padding-top: 60px;
    } 
    .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 30px 0 30px;
        @media (max-width: 550px) {
            padding: 15px 15px 0 15px;
        }
        h1 {
            @include mixin.pagetitle;
        }
        a {
            order: 3;
            display: flex;
            padding: 5px 20px;
            background-color: variables.$primary-color;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            gap: 5px;
            align-items: center;
            @media (max-width: 550px) {
                padding: 5px 10px;
                font-size: 12px;
                margin-top: 3px;
            }
            @media (max-width: 1200px) {
                order: 1;
            }
        }
        .searchbox {
            order: 1;
            display: flex;
            gap: 10px;
            @media (max-width: 1200px) {
                order: 3;
                width: 100%;
                justify-content: space-between;
                margin-top: 10px;
            }
            // 2025.02.23 **SDH**
            button {
                display: flex;
                padding: 7px 20px;
                background-color: variables.$primary-color;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                gap: 5px;
                align-items: center;
                font-size: 16px;
                cursor: pointer;
            }
            // 2025.02.23 END **SDH**// 2025.02.23 **SDH**
            button {
                display: flex;
                padding: 8px 20px 5px;
                
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                border: 2px solid rgba(255,255,255,0.3);
                background-color: transparent;
                color: #fff;
                transition: 0.2s;
                &:hover {
                    background-color: variables.$primary-color;
                }
                @media (max-width: 550px) {
                    font-size: 13px;
                    padding: 5px 10px 3px;
                }
            }
            // 2025.02.23 END **SDH**
        } 
    }
    .total {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 15px 30px 15px 30px;
        gap: 20px;
        @media (max-width: 550px) {
            padding: 15px 15px;
        }
        .section4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            @media (max-width: 1350px) {
                grid-template-columns: 1fr;
            }
        }
        .section3 {
            flex: 1;
        }
    }
}
