@use 'variables';
@use 'mixin';
.container {
    display: flex;
    height: 100vh;
    background-color: variables.$background-Dashboard;
    color: variables.$font-color;
    .navbar {
        width: 100px;
        background-color: variables.$background-Navbar;
        border-right: 1px solid variables.$border-Boxes;
    }
    .dashboard {
        flex: 1;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 30px 0 30px;
            a {
                display: flex;
                padding: 7px 20px;
                background-color: variables.$primary-color;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                gap: 5px;
                align-items: center;
            } 
        }
        .board {
            display: flex;
            flex-direction: column;
            padding: 15px 30px 15px 30px;
            gap: 20px;
            .boardTop {
                display: flex;
                gap: 20px;
                height: 180px;
            }
            .boardBody {
                display: grid;
                grid-template-columns: 1fr 1.5fr 2.5fr;
                min-height: 400px;
                gap: 20px;
            }
        }
    }
}
