@use 'variables';
@use 'mixin';
@use 'sass:map';

.iconlist {
    text-align: center;
    margin-top: 150px;
    @media (max-width: 920px) {
        display: flex;
        margin-top: 0;
        justify-content: flex-start;
        margin-left: 15px;
        height: 100%;
    }
    li {
        position: relative;
        padding: 10px 15px 10px 20px;
        margin: 10px 0 ;
        font-size: 25px;
        color: variables.$font-color-default;
        cursor: pointer;
        @media (max-width: 920px) {
            font-size: 20px;
            padding: 5px 10px;
        }
        @media (max-width: 550px) {
            padding: 5px 8px;
        }
        .tip {
            position: absolute;
            left: 80%;
            top: 46%;
            transform: translateY(-50%);
            padding: 3px 7px 5px;
            border-radius: 5px;
            color: #fff;
            font-size: 12px;
            display: none;
            &.kkms { 
                background-color: map.get(variables.$colors, "kkms");
                &::after {
                    border-right: 5px solid map.get(variables.$colors, "kkms");
                }
            }
            &.peter { 
                background-color: map.get(variables.$colors, "peter");
                &::after {
                    border-right: 5px solid map.get(variables.$colors, "peter");
                }
            }
            &.lauren { 
                background-color: map.get(variables.$colors, "lauren");
                &::after {
                    border-right: 5px solid map.get(variables.$colors, "lauren");
                }
            }
            &.JUH { 
                background-color: map.get(variables.$colors, "JUH");
                &::after {
                    border-right: 5px solid map.get(variables.$colors, "JUH");
                }
            }
            &.SHJ { 
                background-color: map.get(variables.$colors, "SHJ");
                &::after {
                    border-right: 5px solid map.get(variables.$colors, "SHJ");
                }
            }
            &::after {
                content: "";
                position: absolute;
                right: 100%;
                top: 50%;
                transform: translateY(-50%);
                border: 5px solid transparent;
                
                
            }
        }
        .mobiletitle {
            display: none;
            @media (max-width: 920px) {
                display: block;
                color: #fff;
                text-align: center;
                font-size: 11px;
                margin-top: -4px;
                color: #999;
            }
            @media (max-width: 500px) {
                font-size: 10px;
            }
            
        }
        &:hover {
            .tip {
                display: block;
                @media (max-width: 920px) {
                    display: none;
                }
            }
        }
        &.on {
            color: variables.$font-color;
            padding: 10px 15px;
            border-left: 5px solid variables.$primary-color;
            @media (max-width: 920px) {
                border-left: 0;
                border-bottom: 3px solid variables.$primary-color;
                padding: 5px 10px;
            }
            @media (max-width: 550px) {
                padding: 5px 8px;
            }
            // .tip {
            //     display: block;
            // }
            .mobiletitle {
                color: #fff;
            }
        }
    }
}
.source {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 100%;
    transform: translateX(-50%);
    .git {
        filter: invert(100%);
    }
    @media (max-width: 920px) {
        left: auto;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
        width: auto;
        display: flex;
        gap: 10px;

    }
    
}
.btn {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    display: block;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    color: #fff;
    font-weight: 500;
    letter-spacing: -0.5px;
    transition: 0.2s;
    border: 1px solid variables.$border-Boxes;
    @media (max-width: 920px) {
        font-size: 0;
        padding: 5px 10px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    @media (max-width: 550px) {
        width: 27px;
        text-align: center;
        height: 27px;
    }
    img {
        display: block;
        margin: 0 auto 6px;
        width: 35%;
        @media (max-width: 920px) {
            width: 25px;
            margin: 0 auto;
        }
        @media (max-width: 550px) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
        }
    }
    &:hover {
        background-color: #5d2eae;
    }
}