@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    height: 320px;
    padding: 1;
    // overflow-y: hidden;
    flex: 1;
    .helpBtn {
        @include mixin.helpBtn; 

    }
    .helper {
        @include mixin.helper;
    }
    [class*=table] {
        display: grid;
        grid-template-columns:
            25% 25% 50%;
        @media (max-width: 550px) {
            grid-template-columns: 25% 1fr;
        }
    }

    h2 {
        @include mixin.title;
        & {  /*yoon: 오류발생으로 명시적 선언합니다*/
            padding:0px 0px 10px 0px;
            text-align: left;
        }
        
        
    }

    .tableHeader {

        padding: 0;
        padding-right:5px; // 스크롤바 너비와 동일한 값

        background-color: variables.$background-Header;
        border-bottom: 1px solid variables.$border-Boxes;
        text-align: center;
        // font-weight: 900;
        @media (max-width: 550px) {
            font-size: 13px;
        }

        div {
            flex: 1;
            padding: 15px;
            @media (max-width: 550px) {
                &:nth-child(2){
                    display: none;
                }   
            }
            &+div {
                border-left: 1px solid variables.$border-Boxes;
            }
        }
    }

    .container {
        overflow-y: auto;
        height: calc(100% - 100px);

        @include mixin.scrollbar;



        .tableBody {
            
            div {
                flex: 1;
                border-bottom: 1px solid variables.$border-Boxes;
                font-size: 14px;
                padding: 10px 15px;
                color: rgba(255, 255, 255, 0.6);
                text-align: center;
                @media (max-width: 550px) {
                    &:nth-child(2){
                        display: none;
                    }   
                }
                &+div {
                    border-left: 1px solid variables.$border-Boxes;
                }
                @media (max-width: 550px) {
                    font-size: 13px;
                }
            }
        }
    }

}