@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    height:320px;
    // padding:10px;
    overflow-y: hidden;
    flex: 1;
    .helpBtn {
        @include mixin.helpBtn; 

    }
    .helper {
        @include mixin.helper;
    }
    @media (max-width: 550px) {
        height: auto;
    }
    [class*=table]{
        display: grid;
        grid-template-columns: 
            15%
            15%
            15%
            65%;
        @media (max-width: 550px) {
            grid-template-columns: 35% 1fr;
        }
    }
    h2{
        @include mixin.title;
        & {  /*yoon: 오류발생으로 명시적 선언합니다*/
            padding:0px 0px 10px 0px;
            text-align: left;
        }
    }
    
    .tableHeader {
        padding:0;
        padding-right:5px;
        background-color: variables.$background-Header;
        border-bottom: 1px solid variables.$border-Boxes;
        text-align: center;
        @media (max-width: 550px) {
            font-weight: 500;
            font-size: 14px;   
        }
        div {
            flex: 1;
            padding: 15px;
            @media (max-width: 550px) {
               &:nth-child(2), &:nth-child(3) {
                display: none;
               } 
            } 
            &+div {
                border-left: 1px solid variables.$border-Boxes;
            }
        }
    }
    .container{
        overflow-y: auto;
        overflow-x: hidden;
        height:calc(100% - 100px);

        @include mixin.scrollbar;

        .tableBody {
            div {
                flex: 1;
                border-bottom: 1px solid variables.$border-Boxes;
                font-size: 16px;
                padding: 10px 15px;
                color: #FF6060;
                text-align: center;
                @media (max-width: 550px) {
                    &:nth-child(2), &:nth-child(3) {
                     display: none;
                    }
                    font-size: 13px;
                    text-align: left; 
                 } 
                &+div {
                    border-left: 1px solid variables.$border-Boxes;
                }
                &:last-child {
                    text-align: left;
                }
            }
        }
    }
    
}


