@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    
    // padding:0;
    overflow-y: auto;
    flex: 1;
    [class*=table]{
        display: grid;
        grid-template-columns: 
            30%
            20%
            50%
        ;
    }
    .tableHeader {
        padding:0;
        background-color: variables.$background-Header;
        border-bottom: 1px solid variables.$border-Boxes;
        text-align: center;
        div {
            flex: 1;
            padding: 15px;
            
            &+div {
                border-left: 1px solid variables.$border-Boxes;
            }
        }
    }
    .tableBody {
        div {
            flex: 1;
            border-bottom: 1px solid variables.$border-Boxes;
            font-size: 14px;
            padding: 10px 15px;
            color: rgba(255,255,255,0.6);
            text-align: center;
            &+div {
                border-left: 1px solid variables.$border-Boxes;
            }
        }
    }
}

::-webkit-scrollbar{
    width: 10px;
    // height: 1px;
}

::-webkit-scrollbar-thumb {
    background: variables.$primary-color; /* 스크롤바 막대 색상 */
    // border: 2px solid #9b6a2f; /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}
