@use 'variables';
@use 'mixin';

.body {
    @include mixin.box-item;
    height:300px;
    padding:10;
    overflow-y: hidden;
    flex: 1;
    [class*=table]{
        display: grid;
        grid-template-columns: 
            15%
            15%
            15%
            65%
    }
    h2{
        @include mixin.title;
        padding:10px;
        text-align: left;
    }
    
    .tableHeader {
        padding:0;
        padding-right:5px;
        background-color: variables.$background-Header;
        border-bottom: 1px solid variables.$border-Boxes;
        text-align: center;
        font-weight: 900;
        div {
            flex: 1;
            padding: 15px;
            
            &+div {
                border-left: 1px solid variables.$border-Boxes;
            }
        }
    }
    .container{
        overflow-y: auto;
        overflow-x: hidden;
        height:calc(100% - 100px);

        @include mixin.scrollbar;

        .tableBody {
            div {
                flex: 1;
                border-bottom: 1px solid variables.$border-Boxes;
                font-size: 16px;
                padding: 10px 15px;
                color: #FF6060;
                text-align: center;
                &+div {
                    border-left: 1px solid variables.$border-Boxes;
                }
            }
        }
    }
    
}


