@use 'variables';
@use 'mixin';

.body {
    position: relative;
    @include mixin.box-item;
    flex: 1;
    .helpBtn {
        @include mixin.helpBtn; 

    }
    // ["#C3E1FF", "#B91293", "#9747FF", "#FFD7A3"]
    .helper {
        @include mixin.helper;
        span {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: red;
            border-radius: 50%;
            margin-right: 3px;
            margin-left: 15px;
            vertical-align: middle;
            margin-top: -1px;
        }
    }
    .title {
        @include mixin.title;
        & {  /*yoon: 오류발생으로 명시적 선언합니다*/
            text-align: left;
        }
    }
    .btn {
        position: absolute;
        right: 15px;
        top: 14px;
        padding: 6px 10px 4px;
        font-size: 13px;
        border: 1px solid rgba(255,255,255,0.3);
        background-color: transparent;
        color: #fff;
        border-radius: 4px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            background-color: #9747FF;
        }
    }
}
